<%- include('partials/header')%>
<%- include('partials/sidenav')%>

<div id="main">
    <div class="section">
    <div class="top-section">
      <div class="left-section">
        <img src="/uploads/<%= user.avatar%>" alt="">
        
      </div>
      <div class="right-section">
        <div class="first-row">
        <h5><%= user.username%></h5>
        <a href="/edit">Edit Profile</a>
    </div>
     <h6 class="mt-3"><%= user.name%></h6>
     <p><%= user.about%></p>
     <a class="changepassword" href="/resetpassword">Reset Password</a>
      </div>
    </div>
    <div class="bottom-section">
        <h4>All post</h4>
        
        
    </div>
</div>
</div>
<%- include('partials/footer')%>